@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: #292929;
  font-family: "Anonymous Pro";
  color: white;
}

#menu-nav {
  height: 100px;
}

#menu-content img {
  width: 70px;
}

#text {
  max-width: 900px;
  font-family: "Roboto Mono";
  margin-top: 130px !important;
  margin-bottom: 130px !important;
}

#text h1 {
  font-size: 50px;
  font-weight: 600;
}

#text h5 {
  color: white;
  max-width: 580px;
  font-size: 22px;
}

#text #button {
  cursor: pointer;
  margin-top: 40px !important;
  border: none;
  border-radius: 20px;
  width: 230px;
  height: 60px;
  font-size: 23px;
  font-weight: 600;
  background-color: #aa3939;
  color: white;
  transition: 0.2s;
}

#text #button a {
  color: white;
  text-decoration: none;
}

#text #button:hover {
  transform: scale(1.03);
}

#image {
  background-color: #aa3939;
  height: 500px;
}

.container {
  max-width: 100vw;
}

#content {
  background: rgb(128,21,21);
  background: linear-gradient(360deg, rgba(128,21,21,1) 0%, rgba(170,57,57,1) 100%);
  height: 100vh;
  padding: 0 10px;
}

#image-login {
  margin: 20px 0 10px;
}

#login-div h2 {
  font-size: 30px;
  font-weight: 600;
}

#login-div label {
  font-size: 15px;
}

#login-div input {
  font-size: 16px;
  height: 33px;
  width: 325px;
  padding: 0px 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
}

#login-div div div + div {
  margin-top: 4%;
}

#login-text {
  margin: 0 12%;
}

#new-user {
  margin-top: 3% !important;
}

#submit {
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #aa3939;
  width: 325px;
  height: 40px;
  margin-top: 10px;
  transition: 0.2s;
}

#submit:hover {
  transform: scale(1.03);
}

#new-user a {
  color: #888888;
  
  font-weight: 600;
}