@media screen and (min-width: 1490px) {
    #image-login {
        margin: 40px 0 20px;
    }

    #login-div h2 {
        margin-left: 6% !important;
    }

    #login-text {
        margin: 5% 17.5%;
    }
}

@media screen and (max-width: 1490px) {
    #image-login {
        margin: 40px 0 20px;
    }

    #login-div h2 {
        margin-left: 6% !important;
    }

    #login-text {
        margin: 5% 16%;
    }
}

@media screen and (max-width: 1450px) {
    #login-text {
        margin: 5% 15%;
    }
}

@media screen and (max-width: 1430px) {
    #login-text {
        margin: 5% 14%;
    }
}

@media screen and (max-width: 1380px) {
    #login-text {
        margin: 5% 13%;
    }
}

@media screen and (max-width: 1340px) {
    #login-text {
        margin: 0 11.5%;
    }
}

@media screen and (max-width: 1310px) {
    #login-text {
        margin: 0 10.5%;
    }
}

@media screen and (max-width: 1270px) {
    #login-text {
        margin: 0 9.5%;
    }
}

@media screen and (max-width: 1240px) {
    #login-text {
        margin: 0 9%;
    }
}

@media screen and (max-width: 1230px) {
    #login-text {
        margin: 0 8.5%;
    }
}

@media screen and (max-width: 1210px) {
    #login-text {
        margin: 0 7.5%;
    }
}

@media screen and (max-width: 1199px) {
    #login-text {
        margin: 0 7.5%;
    }

    #login-div {
        width: 390px;
        margin: auto !important;
    }
}
