@media screen and (min-width: 1490px) {
    #image-login {
        margin: 40px 0 20px;
    }

    #login-div h2 {
        margin-left: 6% !important;
    }

    #login-text {
        margin: 5% 17.5%;
    }
}

@media screen and (max-width: 1490px) {
    #image-login {
        margin: 40px 0 20px;
    }

    #login-div h2 {
        margin-left: 6% !important;
    }

    #login-text {
        margin: 5% 16%;
    }
}

@media screen and (max-width: 1450px) {
    #login-text {
        margin: 5% 15%;
    }
}

@media screen and (max-width: 1430px) {
    #login-text {
        margin: 5% 14%;
    }
}

@media screen and (max-width: 1380px) {
    #login-text {
        margin: 4% 13%;
    }

    #tasks {
        margin-top: 2.5% !important;
        height: 300px;
        padding: 20px 0 !important;
    }
}

@media screen and (max-width: 1340px) {
    #login-text {
        margin: 0 11.5%;
    }
}

@media screen and (max-width: 1310px) {
    #login-text {
        margin: 0 10.5%;
    }
}

@media screen and (max-width: 1270px) {
    #login-text {
        margin: 0 9.5%;
    }
}

@media screen and (max-width: 1240px) {
    #login-text {
        margin: 0 9%;
    }

    #image-initial-screen {
        width: 1100px;
    }
}

@media screen and (max-width: 1230px) {
    #login-text {
        margin: 0 8.5%;
    }
}

@media screen and (max-width: 1210px) {
    #login-text {
        margin: 0 7.5%;
    }
}

@media screen and (max-width: 1199px) {
    #title {
        display: none;
    }

    #login-text {
        margin: 0 7.5%;
    }

    #login-div {
        width: 390px;
        margin: auto !important;
    }
}


@media screen and (max-width: 1140px) {
    #image-initial-screen {
        width: 1000px;
    }
}

@media screen and (max-width: 1040px) {
    #image-initial-screen {
        width: 900px;
    }
}

@media screen and (max-width: 1000px) {
    #image-initial-screen {
        width: 800px;
    }

    #text {
        max-width: 700px;
    }

    #text h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 840px) {
    #image-initial-screen {
        width: 750px;
    }

    #text h1 {
        font-size: 35px;
    }

    #text h5 {
        font-size: 18px;
    }
}

@media screen and (max-width: 790px) {
    #image {
        display: none;
    }

    #tasks {
        width: 650px;
    }

    #text-task {
        max-width: 500px;
    }

    #tasks-options {
        max-width: 650px;
    }

    #text h1 {
        font-size: 28px;
    }

    
    #text h5 {
        font-size: 15px;
    }
}

@media screen and (max-width: 670px) {
    #tasks {
        width: 500px;
    }

    #text-task {
        max-width: 350px;
    }

    #tasks-options {
        max-width: 500px;
    }

    #text h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 525px) {
    #tasks {
        width: 400px;
    }

    #text-task {
        max-width: 250px;
    }

    #tasks-options {
        max-width: 400px;
    }
}

@media screen and (max-width: 470px) {
    #tasks {
        width: 350px;
    }

    #text-task {
        max-width: 200px;
    }

    #tasks-options {
        max-width: 350px;
    }

    #new-todo {
        width: 280px;
        font-size: 16px;
    }

    #container-home #hello-user {
        font-size: 20px;
    }

    #row-title-input a {
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    #new-todo {
        width: 230px;
        font-size: 15px;
    }

    #tasks {
        width: 330px;
    }

    #text-task {
        max-width: 180px;
    }

    #tasks-options {
        max-width: 330px;
    }

    #container-home #hello-user {
        font-size: 18px;
    }

    #row-title-input a {
        font-size: 18px;
    }
}

@media screen and (max-width: 370px) {
    #new-todo {
        width: 200px;
        font-size: 15px;
    }

    #tasks {
        width: 330px;
    }

    #text-task {
        max-width: 180px;
    }

    #tasks-options {
        max-width: 330px;
    }
}